@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #f49020;
  --mid-yellow: #e07b17;
  --orange: #dd5b03;
  --brown: #603a19;
  --maroon: #c1272d;
  --mid-maroon: #a92327;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: "Nunito", sans-serif;
}
.main-title {
  font-weight: 900;
  font-size: 35px;
}
/* Common */
.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* top-banner */
.top-banner {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2.5rem;
  background: white;
  font-size: 14px;
  font-weight: 600;
  z-index: 999;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
}
.top-banner a i {
  color: black;
}
.top-banner .icon {
  background: var(--yellow);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  margin-right: 5px;
}
.banner-text {
  margin-right: 5px;
}

/* Nav  Bar */
.nav {
  background: rgba(0, 0, 0, 0);
  top: 0rem;
  position: absolute;
  z-index: 99;
  width: 100vw;
  border-bottom: 0.12rem solid #ccc;
}
.nav-container {
  margin: auto;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.brand-logo img {
  width: 250px;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.nav-items a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.nav-items a:hover {
  color: var(--yellow);
}
.nav-items a.active {
  color: var(--yellow);
}
a.navcta {
  background: var(--maroon);
  outline: none;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  width: 8.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.navcta:hover {
  color: white;
  background: var(--mid-maroon);
}
a.navcta::before {
  content: "";
  display: inline-block;
  width: 8.5rem;
  height: 2.5rem;
  border: 1px solid;
  top: 0.2rem;
  left: 0.25rem;
  position: absolute;
  z-index: -1;
}
/* Hero section */

.mySlides {
  display: none;
  height: 100%;
}
.mySlides.one {
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(./images/Banners/banner-02.jpg) bottom no-repeat;
  background-size: cover;
}
.mySlides.two {
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(./images/Banners/banner-01.jpg) bottom no-repeat;
  background-size: cover;
}
.mySlides.three {
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(./images/Banners/banner-03.jpg) bottom no-repeat;
  background-size: cover;
}
.slideshow-container {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 100%;
  height: 85vh;
}
.slide-prev,
.slide-next {
  cursor: pointer;
  position: absolute;
  top: 52%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 98;
}
.slide-next i {
  transform: rotate(90deg);
}
.slide-prev i {
  transform: rotate(-90deg);
}
.slide-next {
  right: 7vw;
  border-radius: 3px 0 0 3px;
}
.slide-prev {
  left: 7vw;
  border-radius: 3px 0 0 3px;
}
.slide-prev:hover,
.slide-next:hover {
  color: var(--yellow);
}
.slide-text {
  color: white;
  font-size: 65px;
  font-weight: 700;
  position: absolute;
  top: 42.5%;
  left: 15vw;
  width: 100%;
  display: inline-block;
  z-index: 2;
}
.slide-text .and {
  font-weight: 200;
}
.curved-bg-one {
  left: 5rem;
  top: -4.5rem;
  font-size: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--yellow);
  height: 4.5rem;
  width: 6.5rem;
  border-radius: 61% 39% 75% 25% / 54% 31% 69% 46%;
}
.cta {
  background: var(--yellow);
  outline: none;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  position: absolute;
  width: 8rem;
  height: 2.5rem;
}
.cta:hover {
  background: var(--mid-yellow);
}
.cta::before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 2.5rem;
  border: 1px solid;
  top: 0.2rem;
  left: 0.25rem;
  position: absolute;
  z-index: -1;
}

/* CSS Animation For Slider */

.animated {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Home Services */
.hero-section {
  position: relative;
}
.home-services {
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
}
.home-services .service {
  height: 100%;
  width: 20%;
  margin-left: 2%;
  display: flex;
  padding: 0.7rem;
  align-items: flex-start;
  color: white;
}
.home-services .service p {
  font-size: 13px;
}
.home-services .service h2 {
  font-weight: 800;
}
.home-services .service .icon {
  margin-right: 0.7rem;
  margin-top: 7px;
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--brown);
  background: rgb(255, 255, 255);
  height: 3.5rem;
  width: 3.5rem;
}
.curved-bg-two {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.curved-bg-two svg {
  transform: rotate(45deg);
}
.curved-bg-three {
  border-radius: 21% 79% 25% 75% / 53% 40% 60% 47%;
}
.curved-bg-four {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.curved-bg-five {
  border-radius: 21% 79% 25% 75% / 53% 40% 60% 47%;
}

.home-services .service .icon img {
  width: 30px;
}
.grooming {
  background: var(--yellow);
}
.bording {
  background: var(--brown);
}
.daycare {
  background: var(--mid-yellow);
}
.relocation {
  background: var(--orange);
}

/* Gallery */
.home-gallery {
  min-height: 100vh;
  width: 90vw;
  margin: auto;
  padding: 7rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-cta {
  margin-bottom: 2rem;
}
.tab-cta button {
  outline: none;
  border: 2px solid #aaa;
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
}
.tab-cta button:hover{
  background: var(--yellow);
  color: white;
  border: none;
}
.tab-cta .active {
  background: var(--yellow);
  color: white;
  border: none;
}
#groomingTabContent{
  display: grid;
}
.home-gallery .gallery {
  display: none;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9,5vw);
  grid-gap: 7px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
  background: var(--yellow);
  padding: 0.5rem;
  z-index: 0;
}
.gallery-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.gallery-content h2 {
  font-weight: 700;
  font-size: 1.6rem;
}
.gallery-content p {
  text-align: center;
  margin: 0.3rem 0;
}
.gallery-cta {
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  position: relative;
}
.gallery-cta:hover{
  background: #eee;
}
.gallery-cta::before {
  content: "";
  display: inline-block;
  width: 7rem;
  height: 2.5rem;
  border: 1px solid #eee;
  top: 0.2rem;
  left: 0.25rem;
  position: absolute;
  z-index: -1;
}
.gallery__item--5 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}
.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 11;
}
.gallery__item--7 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 11;
}
.gallery__item--8 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 11;
}

/* Home - About Pets paradise */

.home-about {
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-title .one {
  color: var(--yellow);
}
.main-title .two {
  color: var(--brown);
}
.home-about .tag {
  font-size: 15px;
  font-weight: 700;
  margin: 0.3rem 0;
}
.home-about .content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.home-about .content .img {
  display: flex;
  position: relative;
}
.home-about .content .img span {
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--yellow);
  padding: 1.2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: white;
}
.home-about .fa-paw {
  transform: rotate(90deg);
}
.home-about .content .img img {
  width: 100%;
}
.home-about .content .details {
  background: var(--yellow);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  font-size: 15px;
  z-index:0;
}
.home-about .content .details ul {
  margin: 0.7rem 2rem;
}
.about-cta {
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0.2rem;
  cursor: pointer;
  width: 8.5rem;
  height: 2.5rem;
  position: relative;
}
.about-cta:hover {
  background: #eee;
}
.about-cta::before {
  content: "";
  display: inline-block;
  width: 8.5rem;
  height: 2.5rem;
  border: 1px solid #eee;
  top: 0.2rem;
  left: 0.25rem;
  position: absolute;
  z-index: -1;
}

/* Testimonials */
.testimonial {
  height: 60vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial h2 {
  margin-bottom: 2rem;
}
.testimonial .slideshow-container {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 80vw;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myTestimonialSlides {
  display: none;
  width: 70%;
  height: 100%;
}
.myTestimonialSlides .slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myTestimonialSlides .slide-content span {
  color: white;
  font-size: 25px;
  background: var(--yellow);
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.myTestimonialSlides .slide-content h3 {
  margin: 0.5rem 0;
}
.myTestimonialSlides .slide-content p {
  text-align: center;
}
.testimonial .slide-prev,
.testimonial .slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  translate: (0, -50%);
  color: var(--brown);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.testimonial .slide-next {
  right: 2rem;
}
.testimonial .slide-prev {
  left: 2rem;
}
.testimonial .slide-prev:hover,
.testimonial .slide-next:hover {
  color: var(--yellow);
}
.slide-dot-control {
  text-align: center;
  margin-top: 10px;
}
.slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: var(--brown);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slide-dot-active,
.slide-dot:hover {
  background-color: var(--yellow);
}

/* Footer */

.footer {
  background: rgb(245, 245, 245);
  font-size: 14px;
}
.footer-content {
  display: flex;
  max-width: 85vw;
  margin: auto;
  padding: 1.5rem 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .main-title {
  font-size: 30px;
  margin-bottom: 0.7rem;
}
.footer-about {
  width: 20.6rem;
  margin-right: 5rem;
}
.footer-about {
  text-align: justify;
}
.useful-links {
  margin-right: 5rem;
}
.useful-links a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.7rem;
}
.useful-links a:hover {
  color: var(--yellow);
}
.footer .contact-details p {
  margin-bottom: 0.7rem;
}
.copyright {
  margin: 1.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
