@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #f49020;
  --mid-yellow: #e07b17;
  --orange: #dd5b03;
  --brown: #603a19;
  --maroon: #c1272d;
  --mid-maroon: #a92327;
}
body {
  font-family: "Open Sans", sans-serif;
}
a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: "Nunito", sans-serif;
}
.title {
  font-size: 30px;
  font-weight: 900;
}
.main-title {
  font-weight: 900;
  font-size: 40px;
}
/* Common */
.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* top-banner */
.top-banner {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2.5rem;
  background: white;
  font-size: 14px;
  font-weight: 600;
  z-index: 999;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.75);
}
.top-banner a i {
  color: black;
}
.top-banner .icon {
  background: var(--yellow);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  margin-right: 5px;
}
.banner-text {
  margin-right: 5px;
}

/* Nav  Bar */
.nav {
  background: rgba(0, 0, 0, 0);
  top: 0rem;
  position: absolute;
  z-index: 99;
  width: 100vw;
  border-bottom: 0.12rem solid #ccc;
}
.menu-icon{
  display: none;
}
.nav-container {
  margin: auto;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.brand-logo img {
  width: 250px;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.nav-items a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.nav-items a:hover {
  color: var(--yellow);
}
.nav-items a.active {
  color: var(--yellow);
}
a.navcta {
  background: var(--maroon);
  outline: none;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  width: 8.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.navcta:hover {
  color: white;
  background: var(--mid-maroon);
}
a.navcta::before {
  content: "";
  display: inline-block;
  width: 8.5rem;
  height: 2.5rem;
  border: 1px solid;
  top: 0.2rem;
  left: 0.25rem;
  position: absolute;
  z-index: -1;
}
/* About Hero section */
.about-hero-section {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/Banners/general.jpg) bottom no-repeat;
  background-size: cover;
}
.about-hero-title {
  color: white;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  top: 42.5%;
  left: 7vw;
  width: 100%;
  display: inline-block;
  z-index: 2;
}
/* Services content */
.services {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services h2 {
  margin: 2rem 0 0.5rem 0;
}
.services h2 span {
  color: var(--yellow);
}
.services .service-tag {
  color: var(--brown);
  font-weight: 600;
}
.services .content {
  margin: 3rem 0;
}
.service {
  display: flex;
}
.service.boarding {
  flex-direction: row-reverse;
}
.service.relocation {
  flex-direction: row-reverse;
}
.service img {
  width: 50%;
}
.service-details {
  background: var(--yellow);
  display: flex;
  padding: 0.7rem 4rem;
  align-items: center;
  color: white;
  text-align: justify;
}
.grooming .service-details {
  background: var(--yellow);
}
.boarding .service-details {
  background: var(--brown);
}
.daycare .service-details {
  background: var(--mid-yellow);
}
.relocation .service-details {
  background: var(--orange);
}

.service .details {
  display: flex;
}
.service .details h3 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.service .icon {
  margin-right: 1.5rem;
  margin-top: 7px;
  display: flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--brown);
  background: rgb(255, 255, 255);
  height: 5rem;
  width: 5rem;
}
.curved-bg-two {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.curved-bg-two svg {
  transform: rotate(45deg);
}
.curved-bg-three {
  border-radius: 21% 79% 25% 75% / 53% 40% 60% 47%;
}
.curved-bg-four {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.curved-bg-five {
  border-radius: 21% 79% 25% 75% / 53% 40% 60% 47%;
}
.service-cta {
  background: var(--yellow);
  outline: none;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  width: 14rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.service-cta:hover {
  background: var(--mid-yellow);
}
.service-cta::before {
  content: "";
  display: inline-block;
  width: 14rem;
  height: 4rem;
  border: 2px solid var(--brown);
  top: 0.45rem;
  left: 0.45rem;
  position: absolute;
  z-index: -1;
}
/* Footer */

.footer {
  background: rgb(245, 245, 245);
  font-size: 14px;
  margin-top: 3rem;
}
.footer-content {
  display: flex;
  max-width: 85vw;
  margin: auto;
  padding: 1.5rem 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .main-title {
  font-size: 30px;
  margin-bottom: 0.7rem;
}
.main-title .one {
  color: var(--yellow);
}
.main-title .two {
  color: var(--brown);
}
.footer-about {
  width: 20.6rem;
  margin-right: 5rem;
}
.footer-about {
  text-align: justify;
}
.useful-links {
  margin-right: 5rem;
}
.useful-links a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.7rem;
}
.useful-links a:hover {
  color: var(--yellow);
}
.footer .contact-details p {
  margin-bottom: 0.7rem;
}
.copyright {
  margin: 1.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 900px) {
  /* nav */
  .top-banner {
    display: none;
  }
  .nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
  }
  .nav .nav-items {
    width: 24rem;
    height: 100vh;
    padding: 5rem 0;
    background-color: #222222;
    position: fixed;
    top: 0;
    right: -26rem;
    /* right: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 998;
    transition: all 650ms ease-in-out;
  }
  .nav-items.active {
    right: 0;
  }
  .menu-icon {
    display: inline-block;
    color: white;
    font-size: 25px;
    z-index: 999;
    cursor: pointer;
  }
  /* hero section */
  .about-hero-title {
    font-size: 40px;
  }
  /* services */
  .services{
    width: 90vw;
    margin: auto;
    text-align: center;
  }
  .service{
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .service.boarding {
    flex-direction: column;
  }
  .service.relocation {
    flex-direction: column;
  }
  .service img{
    width: 100%;
  }
  .service-details{
    padding: 1rem;
    text-align: start;
  }
  /* footer */
  .footer-content {
    flex-direction: column;
  }
  .footer .main-title {
    margin-top: 2rem;
  }
}
